* {
    box-sizing: border-box;
    padding: 5px;
    margin: 0 5px;
  }
  
  body {
    background-color: #d9dcd6;
  }
  
  header {
    padding: 25px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    overflow: hidden;
  }
  header h1 {
    color: whitesmoke;
    padding: 25px;
    font-weight: 300px;
    float: left;
    font-size: 48px;
  }
  .seo {
    color: #d9dcd6;
  }
  
  nav {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;
    color: whitesmoke;
  }
  nav ul li {
    display: inline-block;
    float: right;
    font-size: x-large;
  }
  a {
    color: whitesmoke;
  }
  
  p {
    font-size: 16px;
  }
  
  #hero {
    height: 800px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
  }
  .mainSection {
    width: 70%;
    margin-left: 5px;
    display: inline-block;
    overflow: auto;
  }
  
  .search-engine-optimization,
  .online-reputation-management,
  .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #0072bb;
    color: white;
  }
  
  .firstPic,
  .thridPic {
    float: left;
    margin-right: 25px;
    max-height: 200px;
  }
  .SecondPic {
    float: right;
    margin-left: 25px;
    max-height: 200px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  aside {
    margin-right: 5px;
    padding: 25px;
    clear: both;
    float: right;
    width: 25%;
    height: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #2589bd;
  }
  
  .benefit-lead,
  .benefit-brand,
  .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
  }
  
  .benefit-lead h3,
  .benefit-brand h3,
  .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .benefit-lead img,
  .benefit-brand img,
  .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
  }
  
  footer {
    padding: 20px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
  }
  
  .footer h2 {
    font-size: 15px;
  }
  
